@page
@model RazorPagesStudent.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.YearOfStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.YearOfStudy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.GraduationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.GraduationDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
