@page
@model RazorPagesStudent.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.YearOfStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.YearOfStudy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.GraduationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.GraduationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
